*, *::before, *::after {
  box-sizing: border-box;
} 
/* кое кто сказал так круто делайте так, поверим ему */
body
{
background-color: #264653;
font-family: sans-serif;
color: #e9c46a;
margin: 0;
}


/*главный див*/
.hero {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.main
{
  padding: 20px;
}



header 
{
  display: grid;
  align-items: center;
  height: 60px;
  margin: 20px 20px 0 20px;
  border:#f4a261 3px solid;
  border-radius: 8px;
  background-color: #24a9bb1e
}


header h1
{
  margin: 0;
  border: none;

}

footer {


  height: 45px;
  box-sizing: border-box;
  margin: 20px;

  font-size: 14px;
  border-radius: 8px;
  background-color: #24a9bb1e;
  border:#f4a261 3px solid;
}

footer h1
{
  padding-top: 5px;
  border: none;
  text-align: center;
  margin: 0;
}






h1
{
  border:#f4a261 3px solid;
}


button
{
  margin: 10px;
  padding: 10px;
  background-color: #e76f51;
  border: none;
  border-radius: 5px;

  color: #e9c46a;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px #da4a26ab
}

